@font-face {
  font-family: 'Barcade';
  src: url('../assets/fonts/Barcade.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: Barcade;
  font-size: 50px;
}

body {
  display: grid;
  place-items: center;
  height: 100%;
  /*background-image: url("../assets/bg/wall.jpg");*/
  background-color: blueviolet;
}

.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  padding: 15px;
  background-color: #ff3b30;
  border-radius: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  grid-template-rows: 80px 80px 80px 80px;
  border: 1px solid black;
}

.grid button {
  background-color: #cfcfcf;
  color: black;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid black;
  outline: none;
  cursor: pointer;
  border-radius: 7px;
}

.blank {
  opacity: 0;
}

.hide {
  visibility: hidden;
}

.hovered {
  background-color: #541a17;
  opacity: 0.4;
}

.grid button:hover {
  background: rgb(207, 207, 207);
  background: radial-gradient(circle, rgba(207, 207, 207, 1) 0%, rgba(159, 158, 158, 1) 100%);
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.footer button {
  border: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  padding: 5px;
  width: 80px;
  background-color: yellow;
  color: blue;
  outline: none;
  cursor: pointer;
}

.footer button:hover {
  color: yellow;
  background-color: blue;
}

.footer span {
  flex: 1;
  text-align: center;
  font-size: 20px;
  color: yellow;
  font-weight: bold;
  margin: auto 0;
}

.under-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.under-footer button {
  border: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  padding: 5px;
  width: 80px;
  background-color: rgba(255, 255, 0, 1);
  color: blue;
  outline: none;
  cursor: pointer;
}

.under-footer button:hover {
  color: rgba(255, 255, 0, 1);
  background-color: blue;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(90, 53, 53, 0.7);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  background-color: #f5da56;
  color: #000;
  padding: 10px;
  position: relative;
  text-align: center;
}

.popup__content form {
  margin-left: 1em;
}

.popup__title {
  margin: 1em;
  margin-top: 2em;
  font-size: 19px;
}

.popup__text {
  margin-top: 1em;
  text-align: center;
  font-size: 14px;
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  text-decoration: none;
}

.popup__close:hover {
  transition: all 0.8s ease 0s;
  transform: rotate(90deg);
}

#savesList {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding: 0;
}

#savesList a {
  margin-top: 5px;
  text-decoration: none;
}

#savesList a:hover {
  color: red;
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 2em;
  }

  .game {
    margin-top: 1em;
  }
  .grid {
    grid-template-columns: 70px 70px 70px 70px;
    grid-template-rows: 70px 70px 70px 70px;
  }
}